:root {
    --very-dark-gray: #333333;
    --very-light-color: #F5FAFE;
    --deep-pink: #EC1F46;
    --white: #ffffff;
    --star-color: #F2994A;
    --dark-gray-blue: #0A223D;
    --deep-blue: rgba(10, 34, 61, 0.8);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F5FAFE;
    color: #333333;
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style: none;
}

p {
    max-width: 550px;
}

span {
    font-size: 8px;
    color: var(--star-color);
}

.f-s-20 {
    font-size: 20px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-10 {
    font-size: 10px;
}

.pink-color-box {
    background-color: var(--deep-pink);
    color: var(--white);
}

.pink-title {
    color: var(--deep-pink);
}

.bg-white {
    background-color: var(--white);
}

.blue-color-box {    
    background: var(--dark-gray-blue);
    color: var(--white);
}

.blue-color-box a {    
    color: var(--white);
}

.b-rad-5 {
    border-radius: 5px;
}

.best-tag {
    font-family: 'Luckiest Guy', cursive;
    /* line-height: 45px; */
    font-size: 29x;
}

.rate-div {
    width: 70px;
}

.flash-offer-top {
    font-size: smaller;
}

.desc-img-div{
    background-blend-mode: soft-light;
    /* background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%); */
}

.desc-img-div img {
    opacity: 0.6;
    height: 100%;
}

.desc-box,
.btn-book {
    font-family: 'Nunito', sans-serif;
}

.map {
    position: relative;
}

.desc-ul-div {
    background-color: var(--white);
    position: absolute;
    z-index: 1;
    bottom: 10px;
}

.desc-ul {
    width: 160px;
}

.desc-ul li {
    font-size: 10px;
}

.li-blue {
    color: #007ADF;
}

.package-links li {
    font-weight: bold;
}

.underline {
    border-bottom: 2.5px solid #EC1F46;
}

.ul-li {
    list-style-image: url('../images/section-1/list-icon.png');
    font-size: 17px;
}

.date{
    list-style-image: url('../images/section-1/calendar.png');
}

.review-container {
    background-color: #ffffff;
    width: 770px;
    border-radius: 5px;
    position: relative;
}

.reviewer-detail {
    width: 100px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: 280px;
}

.quote-end {
    position: absolute;
    top: 150px;
    right: 50px;
}


.newsletter-section {
    color: #ffffff;
    background: var(--deep-blue) url(../images/section-4/Rectangle\ 25.png);
    background-blend-mode: soft-light;
}

.activity-image {
    position: relative;
    z-index: -2;
    opacity: 5;  
}
 
.grid-activity-item {
    /* background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%); */
} 

.activities p {
    color: var(--white);
    font-size: 13px;
}

.activity-decs{
    position: absolute;
    left: 10px;
    bottom: 10px;
    /* z-index: 1; */
}

@media (min-width: 1024px) {
    .review-container {
        width: 650px;
    }
}

@media (max-width: 500px) {
    .header-middle,
    .service-section .col-sm-8 .card,
    .package-links {
        flex-direction: column !important;
    }
    
    .profile-user {
        display: none !important;
    }

    .rate-div {
        display: none;
    }
    .review-container {
        width: 250px;
    }
}