:root {
    --very-dark-gray: #333333;
    --very-light-color: #F5FAFE;
    --deep-pink: #EC1F46;
    --white: #ffffff;
    --star-color: #F2994A;
    --dark-gray-blue: #0A223D;
    --deep-blue: rgba(10, 34, 61, 0.8);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F5FAFE;
    color: #333333;
    font-family: 'Mulish', sans-serif;
}

header a {
    color: var(--very-dark-gray);
    display: inline-block;
}

ul {
    list-style: none;
}

p {
    max-width: 550px;
}

select {
    border: none;
}

.color-white {
    color: var(--white) !important;
}

.star {
    font-size: 8px;
    color: var(--star-color);
}

.f-s-20 {
    font-size: 22px;
    font-weight: bold;
}

.f-s-18 {
    font-size: 18px;
    font-weight: bold;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-14 {
    font-size: 15px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-10 {
    font-size: 10px;
}

.pink-color-box {
    background-color: var(--deep-pink);
    color: var(--white);
}

.pink-title {
    color: var(--deep-pink);
}

.bg-white {
    background-color: var(--white);
}

.blue-color-box {    
    background: var(--dark-gray-blue) !important;
    color: var(--white) !important;
}

.blue-color-box a {    
    color: var(--white);
}

.b-rad-5 {
    border-radius: 5px;
}

.best-tag {
    font-family: 'Luckiest Guy', cursive;
}

.header-ul li {
    margin-right: 25px;
}

footer .best-tag {
    font-size: 35px;
}

.rate-div {
    width: 70px;
}

.flash-offer-top {
    font-size: smaller;
}

.desc-img-div{
    background-blend-mode: soft-light;
}

.desc-img-div img {
    opacity: 0.6;
    height: 100%;
}

.desc-box,
.btn-book {
    font-family: 'Nunito', sans-serif;
}

.desc-ul-div {
    position: absolute;
    z-index: 1;
    bottom: 10px;
}

.desc-ul {
    width: 160px;
}

.desc-ul li {
    font-size: 10px;
}

.li-blue {
    color: #007ADF;
}

.package-links li {
    font-weight: bold;
}

.underline {
    border-bottom: 2.5px solid #EC1F46;
}

.ul-li {
    list-style-image: url('../images/section-1/list-icon.png');
    font-size: 17px;
}

.date{
    list-style-image: url('../images/section-1/calendar.png');
}

.flash-offer{
    top: 10px;
    left: 0;
    z-index: 1;
}

.review-container {
    width: 770px;
    border-radius: 5px;
}

.reviewer-detail {
    width: 100px;
    height: 150px;
    top: -50px;
    left: 40%;
}

.quote-end {
    top: 150px;
    right: 50px;
}


.newsletter-section {
    color: var(--white);
    background: var(--deep-blue) url(../images/section-4/Rectangle\ 25.png);
    background-blend-mode: soft-light;
}

.activity-image {
    z-index: -2;
    opacity: 0.8;  
}

.activities p {
    color: var(--white);
    font-size: 14px;
}

.activity-decs{
    left: 30px;
    bottom: 30px;
}

label,
input {
    width: 100% !important;
}

.message {
    height: 150px !important;
}

footer li {
    line-height: 30px;
}

@media (min-width: 1024px) {
    .review-container {
        width: 650px;
    }
}

@media (max-width: 768px) {
    .header-middle,
    .package-links {
        flex-direction: column !important;
    }
    
    .footer-none,
    .rate-div,
    .profile-user {
        display: none !important;
    }

    .review-container {
        width: 300px;
    }

    .reviewer-detail {
        left: 30%;
    }

    .mobile-li {
        margin-left: 1.5rem;
    }
}